.po{
 font-family: Poppins, sans-serif;
font-size: 54px;
font-weight: 500;
line-height: 56.1px;
color: rgb(5, 4, 127);  
}
.ola{
    font-family: Poppins, sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 21px;
color: rgb(221,231,255);
line-height: 52.8px;
color: rgb(5, 4, 127);
}
.zo{
    Whether you are a student, entrepreneur, or partner, there’s a place for you at Oroki Hub. Be part of our mission to drive innovation and opportunity for all.
}
.me{
    font-family: Poppins, sans-serif;
font-size: 48px;
font-weight: 500;
line-height: 52.8px;
color: rgb(21,20,127);
padding-left: 1%;
}
.us{
    font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgb(122, 122, 122);
padding-left: 1%;
}